html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

body {
  display: block;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

/*-- header  --*/

header {
  background-color: black;
  height: 2.32rem;
  display: block;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header .container {
  align-items: center;
  display: flex;
}

header .container img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header .container span {
  padding: 0.66rem 0;
  font-size: 1rem;
}

/*-- banner --*/

.banner {
  height: 25rem;
  background-image: url("./../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}

.banner .container .text {
  padding: 2rem 3rem;
  background-color: black;
  color: white;
  position: relative;
  display: block;
  top: 9rem;
  width: 20rem;
}

.banner .container .text h2 {
  padding-bottom: 0.25rem;
}

/*-- nav bar --*/

#list .container {
  display: flex;
  justify-content: space-between;
}

#mobile .container {
  display: flex;
  justify-content: center;
}

#list,
#mobile {
  background-color: firebrick;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

nav .container span {
  padding: 0.75rem 0;
}



/* -- media queries -- */

@media only screen and (max-width: 960px) {
  .container {
    justify-content: left;
  }
   #list .container {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  #mobile .container {
    display: none;
  }
}
